{% extends 'header.html' %}
{% block content1 %}
    <div class=" home_content">
        <p>
            Lorem ipsum dolar sit amet, consectetur adipiscing elit. Nunc maxiums, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
        </p>

        <p>
           Lorem ipsum dolar sit amet, consectetur adipiscing elit. Nunc maxiums, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
        </p>

        <p>
           Lorem ipsum dolar sit amet, consectetur adipiscing elit. Nunc maxiums, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
        </p>
    </div>
{% endblock %}